In [112]:
# Imports

import pandas as pd
import numpy as np
from datetime import timedelta

In [113]:
rootpath = "./data/original/"

def read_data(csvpath, parse_dates=False):
    return pd.read_csv(rootpath + csvpath, parse_dates=([0] if parse_dates else None))

In [114]:
# convert strings like '13-Jun' to datetime(2021-06-13) objects

month_num = dict([(m, i) for i, m in enumerate(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], start=1)])

def translate_datetime(s):
    day_str, month_str = s.split('-')
    day = int(day_str)
    month = month_num[month_str]
    year = 2021
    return pd.to_datetime(f"{year:04}-{month:02}-{day:02}")

In [115]:
intensityMinutesDaily = read_data("IntensityMinutes/IntensityMinutes-daily.csv", parse_dates=True)
intensityMinutesDaily.drop('Goal', axis=1, inplace=True)
intensityMinutesDaily.rename({ "Actual" : "IntensityMinutes" }, axis=1, inplace=True)
intensityMinutesDaily

          Date  IntensityMinutes
0   2021-06-12               230
1   2021-06-13               268
2   2021-06-14               161
3   2021-06-15               134
4   2021-06-16                52
..         ...               ...
159 2021-11-18               196
160 2021-11-19               139
161 2021-11-20               150
162 2021-11-21               254
163 2021-11-22               165

[164 rows x 2 columns]

In [116]:
intensityMinutesWeekly = read_data("IntensityMinutes/IntensityMinutes-weekly.csv", parse_dates=True)
intensityMinutesWeekly.rename({ "Minutes" : "IntensityMinutes" }, axis=1, inplace=True)
intensityMinutesWeekly['Week'] = intensityMinutesWeekly['Week'] - timedelta(days=1)
intensityMinutesWeekly

         Week  IntensityMinutes
0  2021-06-06               498
1  2021-06-13              1062
2  2021-06-20              1391
3  2021-06-27              1185
4  2021-07-04               980
5  2021-07-11               923
6  2021-07-18              1504
7  2021-07-25              1079
8  2021-08-01               940
9  2021-08-08              1089
10 2021-08-15              1547
11 2021-08-22              1908
12 2021-08-29              1264
13 2021-09-05              1589
14 2021-09-12               948
15 2021-09-19              1158
16 2021-09-26              1358
17 2021-10-03              1326
18 2021-10-10              1377
19 2021-10-17              1205
20 2021-10-24               945
21 2021-10-31               926
22 2021-11-07               663
23 2021-11-14               994
24 2021-11-21               165

In [117]:
restingHeartRateMonthly = read_data("RestingHeartRate/RestingHeartRate-monthly.csv")\
    .drop([0,1])\
    .reset_index()\
    .drop('index', axis=1)
restingHeartRateMonthly['Month'] = restingHeartRateMonthly['Month'].apply(lambda m: month_num[m])
restingHeartRateMonthly

   Month  BPM
0      6   44
1      7   40
2      8   41
3      9   47
4     10   48
5     11   48

In [118]:
restingHeartRateWeekly = read_data("RestingHeartRate/RestingHeartRate-weekly.csv")
restingHeartRateWeekly['Week'] = restingHeartRateWeekly['Week'].apply(translate_datetime)
restingHeartRateWeekly

         Week  BPM
0  2021-06-06   52
1  2021-06-13   46
2  2021-06-20   43
3  2021-06-27   42
4  2021-07-04   40
5  2021-07-11   42
6  2021-07-18   40
7  2021-07-25   40
8  2021-08-01   40
9  2021-08-08   39
10 2021-08-15   41
11 2021-08-22   43
12 2021-08-29   43
13 2021-09-05   44
14 2021-09-12   48
15 2021-09-19   50
16 2021-09-26   48
17 2021-10-03   47
18 2021-10-10   49
19 2021-10-17   51
20 2021-10-24   48
21 2021-10-31   49
22 2021-11-07   47
23 2021-11-14   48
24 2021-11-21   49

In [119]:
sleepTimeDaily = read_data("SleepTime/SleepTime-daily.csv", parse_dates=True)
sleepTimeDaily = sleepTimeDaily[sleepTimeDaily['Sleep Hrs'] > 0]
sleepTimeDaily

          Date  Sleep Hrs
0   2021-06-14        8.2
1   2021-06-15        8.3
2   2021-06-16        7.6
3   2021-06-17        7.5
4   2021-06-18        7.8
..         ...        ...
157 2021-11-18        7.6
158 2021-11-19        6.8
159 2021-11-20        7.2
160 2021-11-21        8.2
161 2021-11-22        9.0

[155 rows x 2 columns]

In [120]:
sleepTimeWeekly = read_data("SleepTime/SleepTime-weekly.csv")\
    .rename({ 'Hrs' : 'Sleep Hrs' }, axis=1)
sleepTimeWeekly['Week'] = sleepTimeWeekly['Week'].apply(translate_datetime)
sleepTimeWeekly

         Week  Sleep Hrs
0  2021-06-13        7.3
1  2021-06-20        8.0
2  2021-06-27        7.6
3  2021-07-04        8.2
4  2021-07-11        7.7
5  2021-07-18        7.8
6  2021-07-25        7.6
7  2021-08-01        7.8
8  2021-08-08        7.6
9  2021-08-15        7.7
10 2021-08-22        7.9
11 2021-08-29        6.2
12 2021-09-05        7.0
13 2021-09-12        7.2
14 2021-09-19        7.7
15 2021-09-26        7.4
16 2021-10-03        6.2
17 2021-10-10        7.4
18 2021-10-17        7.3
19 2021-10-24        7.7
20 2021-10-31        7.5
21 2021-11-07        7.9
22 2021-11-14        7.1
23 2021-11-21        8.6

In [121]:
sleepTimeMonthly = sleepTimeWeekly.set_index('Week').groupby(by=lambda date: date.month).mean()\
    .reset_index()\
    .rename({ 'Week' : 'Month' }, axis=1)
sleepTimeMonthly

   Month  Sleep Hrs
0      6   7.633333
1      7   7.825000
2      8   7.440000
3      9   7.325000
4     10   7.220000
5     11   7.866667

In [122]:
stepsDaily = read_data("Steps/Steps-daily.csv")\
    .drop('Goal', axis=1)\
    .rename({ 'Actual' : 'Steps' }, axis=1)
stepsDaily['Date'] = stepsDaily['Date'].apply(translate_datetime)
stepsDaily

          Date  Steps
0   2021-06-11  23713
1   2021-06-12  12156
2   2021-06-13  18037
3   2021-06-14  21590
4   2021-06-15  14759
..         ...    ...
159 2021-11-17  18255
160 2021-11-18  10532
161 2021-11-19  11221
162 2021-11-20  10259
163 2021-11-21  13104

[164 rows x 2 columns]

In [123]:
stepsMonthly = stepsDaily.set_index('Date').groupby(by=lambda date: date.month).sum()\
    .reset_index()\
    .rename({ 'Date' : 'Month' }, axis=1)
stepsMonthly

   Month   Steps
0      6  259990
1      7  399503
2      8  467708
3      9  387749
4     10  514573
5     11  231050

In [124]:
stressLevelDaily = read_data("StressLevel/StressLevel-daily.csv", parse_dates=True)
stressLevelDaily

          Date  Stress Level
0   2021-06-12            47
1   2021-06-13            32
2   2021-06-14            30
3   2021-06-15            29
4   2021-06-16            28
..         ...           ...
159 2021-11-18            28
160 2021-11-19            30
161 2021-11-20            27
162 2021-11-21            29
163 2021-11-22            25

[164 rows x 2 columns]

In [125]:
stressLevelWeekly = read_data("StressLevel/StressLevel-weekly.csv")
stressLevelWeekly['Week'] = stressLevelWeekly['Week'].apply(translate_datetime)
stressLevelWeekly

         Week  Stress Level
0  2021-06-06            47
1  2021-06-13            28
2  2021-06-20            26
3  2021-06-27            25
4  2021-07-04            20
5  2021-07-11            26
6  2021-07-18            23
7  2021-07-25            26
8  2021-08-01            23
9  2021-08-08            22
10 2021-08-15            27
11 2021-08-22            28
12 2021-08-29            27
13 2021-09-05            25
14 2021-09-12            33
15 2021-09-19            29
16 2021-09-26            26
17 2021-10-03            29
18 2021-10-10            38
19 2021-10-17            31
20 2021-10-24            24
21 2021-10-31            34
22 2021-11-07            25
23 2021-11-14            32
24 2021-11-21            27

In [126]:
stressLevelMonthly = stressLevelWeekly.set_index('Week').groupby(lambda date: date.month).mean().reset_index().rename({ 'Week' : 'Month' }, axis=1)
stressLevelMonthly

   Month  Stress Level
0      6         31.50
1      7         23.75
2      8         25.40
3      9         28.25
4     10         31.20
5     11         28.00

In [127]:
caloriesBurnedWeekly = read_data("TotalCalories/TotalCalories-weekly.csv")
caloriesBurnedWeekly['Week'] = caloriesBurnedWeekly['Week'].apply(translate_datetime)

restingCaloriesWeekly = caloriesBurnedWeekly[caloriesBurnedWeekly['Calorie Type'] == 'RMR']\
    .drop('Calorie Type', axis=1)\
    .rename({'Value' : 'Resting Calories'}, axis=1)
activeCaloriesWeekly = caloriesBurnedWeekly[caloriesBurnedWeekly['Calorie Type'] == 'Active']\
    .drop('Calorie Type', axis=1)\
    .rename({'Value' : 'Active Calories'}, axis=1)

caloriesBurnedWeekly = pd.merge(
    restingCaloriesWeekly,
    activeCaloriesWeekly,
    how='inner',
    on='Week'
)

caloriesBurnedWeekly['Calories'] = caloriesBurnedWeekly['Resting Calories'] + caloriesBurnedWeekly['Active Calories']
caloriesBurnedWeekly

         Week  Resting Calories  Active Calories  Calories
0  2021-06-06              2189             1496      3685
1  2021-06-13             15423             8302     23725
2  2021-06-20             15673            10311     25984
3  2021-06-27             15673            10425     26098
4  2021-07-04             15673             7784     23457
5  2021-07-11             15673            10750     26423
6  2021-07-18             15717            14035     29752
7  2021-07-25             15750            10646     26396
8  2021-08-01             15750            10372     26122
9  2021-08-08             15750            10177     25927
10 2021-08-15             15750            12773     28523
11 2021-08-22             15750            14258     30008
12 2021-08-29             15750            11537     27287
13 2021-09-05             15750            11044     26794
14 2021-09-12             15843             9879     25722
15 2021-09-19             15750            10021     25771
16 2021-09-26             15750            10828     26578
17 2021-10-03             15750            11624     27374
18 2021-10-10             15750            12515     28265
19 2021-10-17             15750             8416     24166
20 2021-10-24             15698             9833     25531
21 2021-10-31             15750             8215     23965
22 2021-11-07             15750             7046     22796
23 2021-11-14             15750             8900     24650
24 2021-11-21              4200             3325      7525

In [128]:
daily_metrics = [intensityMinutesDaily, stepsDaily, stressLevelDaily, sleepTimeDaily]
weekly_metrics = [intensityMinutesWeekly, restingHeartRateWeekly, caloriesBurnedWeekly, stressLevelWeekly, sleepTimeWeekly]
monthly_metrics = [restingHeartRateMonthly, stepsMonthly, stressLevelMonthly, sleepTimeMonthly]

In [129]:
daily = pd.concat([df.set_index('Date') for df in daily_metrics], axis=1, join='inner').reset_index()
daily

          Date  IntensityMinutes  Steps  Stress Level  Sleep Hrs
0   2021-06-14               161  21590            30        8.2
1   2021-06-15               134  14759            29        8.3
2   2021-06-16                52  10272            28        7.6
3   2021-06-17                37  11713            26        7.5
4   2021-06-18               288   8882            30        7.8
..         ...               ...    ...           ...        ...
149 2021-11-17                 0  18255            35        6.4
150 2021-11-18               196  10532            28        7.6
151 2021-11-19               139  11221            30        6.8
152 2021-11-20               150  10259            27        7.2
153 2021-11-21               254  13104            29        8.2

[154 rows x 5 columns]

In [130]:
weekly = pd.concat([df.set_index('Week') for df in weekly_metrics], axis=1, join='inner').reset_index()
weekly

,Week,IntensityMinutes,BPM,Resting Calories,Active Calories,Calories,Stress Level,Sleep Hrs
0,2021-06-13,1062,46,15423,8302,23725,28,7.3
1,2021-06-20,1391,43,15673,10311,25984,26,8.0
2,2021-06-27,1185,42,15673,10425,26098,25,7.6
3,2021-07-04,980,40,15673,7784,23457,20,8.2
4,2021-07-11,923,42,15673,10750,26423,26,7.7
5,2021-07-18,1504,40,15717,14035,29752,23,7.8
6,2021-07-25,1079,40,15750,10646,26396,26,7.6
7,2021-08-01,940,40,15750,10372,26122,23,7.8
8,2021-08-08,1089,39,15750,10177,25927,22,7.6
9,2021-08-15,1547,41,15750,12773,28523,27,7.7
10,2021-08-22,1908,43,15750,14258,30008,28,7.9
11,2021-08-29,1264,43,15750,11537,27287,27,6.2
12,2021-09-05,1589,44,15750,11044,26794,25,7.0
13,2021-09-12,948,48,15843,9879,25722,33,7.2
14,2021-09-19,1158,50,15750,10021,25771,29,7.7
15,2021-09-26,1358,48,15750,10828,26578,26,7.4
16,2021-10-03,1326,47,15750,11624,27374,29,6.2
17,2021-10-10,1377,49,15750,12515,28265,38,7.4
18,2021-10-17,1205,51,15750,8416,24166,31,7.3
19,2021-10-24,945,48,15698,9833,25531,24,7.7
20,2021-10-31,926,49,15750,8215,23965,34,7.5
21,2021-11-07,663,47,15750,7046,22796,25,7.9
22,2021-11-14,994,48,15750,8900,24650,32,7.1
23,2021-11-21,165,49,4200,3325,7525,27,8.6

In [131]:
monthly = pd.concat([df.set_index('Month') for df in monthly_metrics], axis=1, join='inner').reset_index()
monthly

   Month  BPM   Steps  Stress Level  Sleep Hrs
0      6   44  259990         31.50   7.633333
1      7   40  399503         23.75   7.825000
2      8   41  467708         25.40   7.440000
3      9   47  387749         28.25   7.325000
4     10   48  514573         31.20   7.220000
5     11   48  231050         28.00   7.866667

In [132]:
# output data sets to CSV files
daily.to_csv("./data/cleaned/daily.csv", index=False)
weekly.to_csv("./data/cleaned/weekly.csv", index=False)
monthly.to_csv("./data/cleaned/montly.csv", index=False)