In [237]:
# Imports

import pandas as pd
import numpy as np
from datetime import timedelta

In [238]:
rootpath = "./data/original/"

def read_data(csvpath, parse_dates=False):
    return pd.read_csv(rootpath + csvpath, parse_dates=([0] if parse_dates else None))

In [239]:
# convert strings like '13-Jun' to datetime(2021-06-13) objects

month_num = dict([(m, i) for i, m in enumerate(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], start=1)])

def translate_datetime(s):
    day_str, month_str = s.split('-')
    day = int(day_str)
    month = month_num[month_str]
    year = 2021
    return pd.to_datetime(f"{year:04}-{month:02}-{day:02}")

In [240]:
intensityMinutesDaily = read_data("IntensityMinutes/IntensityMinutes-daily.csv", parse_dates=True)
intensityMinutesDaily.drop('Goal', axis=1, inplace=True)
intensityMinutesDaily.rename({ "Actual" : "Intensity Minutes" }, axis=1, inplace=True)
intensityMinutesDaily

          Date  Intensity Minutes
0   2021-06-12                230
1   2021-06-13                268
2   2021-06-14                161
3   2021-06-15                134
4   2021-06-16                 52
..         ...                ...
159 2021-11-18                196
160 2021-11-19                139
161 2021-11-20                150
162 2021-11-21                254
163 2021-11-22                165

[164 rows x 2 columns]

In [241]:
intensityMinutesWeekly = read_data("IntensityMinutes/IntensityMinutes-weekly.csv", parse_dates=True)
intensityMinutesWeekly.rename({ "Minutes" : "Intensity Minutes" }, axis=1, inplace=True)
intensityMinutesWeekly['Week'] = intensityMinutesWeekly['Week'] - timedelta(days=1)
intensityMinutesWeekly

         Week  Intensity Minutes
0  2021-06-06                498
1  2021-06-13               1062
2  2021-06-20               1391
3  2021-06-27               1185
4  2021-07-04                980
5  2021-07-11                923
6  2021-07-18               1504
7  2021-07-25               1079
8  2021-08-01                940
9  2021-08-08               1089
10 2021-08-15               1547
11 2021-08-22               1908
12 2021-08-29               1264
13 2021-09-05               1589
14 2021-09-12                948
15 2021-09-19               1158
16 2021-09-26               1358
17 2021-10-03               1326
18 2021-10-10               1377
19 2021-10-17               1205
20 2021-10-24                945
21 2021-10-31                926
22 2021-11-07                663
23 2021-11-14                994
24 2021-11-21                165

In [242]:
restingHeartRateDaily = read_data("RestingHeartRate/RestingHeartRate-daily.csv", parse_dates=True)
restingHeartRateDaily

          Date  BPM
0   2021-06-12   52
1   2021-06-13   44
2   2021-06-14   47
3   2021-06-15   48
4   2021-06-16   47
..         ...  ...
159 2021-11-18   50
160 2021-11-19   47
161 2021-11-20   50
162 2021-11-21   48
163 2021-11-22   46

[164 rows x 2 columns]

In [243]:
restingHeartRateWeekly = read_data("RestingHeartRate/RestingHeartRate-weekly.csv")
restingHeartRateWeekly['Week'] = restingHeartRateWeekly['Week'].apply(translate_datetime)
restingHeartRateWeekly

         Week  BPM
0  2021-06-06   52
1  2021-06-13   46
2  2021-06-20   43
3  2021-06-27   42
4  2021-07-04   40
5  2021-07-11   42
6  2021-07-18   40
7  2021-07-25   40
8  2021-08-01   40
9  2021-08-08   39
10 2021-08-15   41
11 2021-08-22   43
12 2021-08-29   43
13 2021-09-05   44
14 2021-09-12   48
15 2021-09-19   50
16 2021-09-26   48
17 2021-10-03   47
18 2021-10-10   49
19 2021-10-17   51
20 2021-10-24   48
21 2021-10-31   49
22 2021-11-07   47
23 2021-11-14   48
24 2021-11-21   49

In [244]:
sleepTimeDaily = read_data("SleepTime/SleepTime-daily.csv", parse_dates=True)
sleepTimeDaily = sleepTimeDaily[sleepTimeDaily['Sleep Hrs'] > 0]
sleepTimeDaily

          Date  Sleep Hrs
0   2021-06-14        8.2
1   2021-06-15        8.3
2   2021-06-16        7.6
3   2021-06-17        7.5
4   2021-06-18        7.8
..         ...        ...
157 2021-11-18        7.6
158 2021-11-19        6.8
159 2021-11-20        7.2
160 2021-11-21        8.2
161 2021-11-22        9.0

[155 rows x 2 columns]

In [245]:
sleepTimeWeekly = read_data("SleepTime/SleepTime-weekly.csv")\
    .rename({ 'Hrs' : 'Sleep Hrs' }, axis=1)
sleepTimeWeekly['Week'] = sleepTimeWeekly['Week'].apply(translate_datetime)
sleepTimeWeekly

         Week  Sleep Hrs
0  2021-06-13        7.3
1  2021-06-20        8.0
2  2021-06-27        7.6
3  2021-07-04        8.2
4  2021-07-11        7.7
5  2021-07-18        7.8
6  2021-07-25        7.6
7  2021-08-01        7.8
8  2021-08-08        7.6
9  2021-08-15        7.7
10 2021-08-22        7.9
11 2021-08-29        6.2
12 2021-09-05        7.0
13 2021-09-12        7.2
14 2021-09-19        7.7
15 2021-09-26        7.4
16 2021-10-03        6.2
17 2021-10-10        7.4
18 2021-10-17        7.3
19 2021-10-24        7.7
20 2021-10-31        7.5
21 2021-11-07        7.9
22 2021-11-14        7.1
23 2021-11-21        8.6

In [246]:
stepsDaily = read_data("Steps/Steps-daily.csv")\
    .drop('Goal', axis=1)\
    .rename({ 'Actual' : 'Steps' }, axis=1)
stepsDaily['Date'] = stepsDaily['Date'].apply(translate_datetime)
stepsDaily

          Date  Steps
0   2021-06-11  23713
1   2021-06-12  12156
2   2021-06-13  18037
3   2021-06-14  21590
4   2021-06-15  14759
..         ...    ...
159 2021-11-17  18255
160 2021-11-18  10532
161 2021-11-19  11221
162 2021-11-20  10259
163 2021-11-21  13104

[164 rows x 2 columns]

In [247]:
week_indices = sleepTimeWeekly['Week']

stepsWeekly = stepsDaily.set_index('Date').groupby(by=lambda date: (date - week_indices[0]).days // 7).sum()\
    .reset_index()\
    .rename({ 'Date' : 'Week' }, axis=1)
stepsWeekly = stepsWeekly[stepsWeekly['Week'] >= 0].reset_index(drop=True)
stepsWeekly['Week'] = week_indices
stepsWeekly

         Week   Steps
0  2021-06-13  104222
1  2021-06-20   81915
2  2021-06-27   87592
3  2021-07-04   75470
4  2021-07-11   95418
5  2021-07-18   97509
6  2021-07-25   81498
7  2021-08-01   99351
8  2021-08-08  107402
9  2021-08-15  127505
10 2021-08-22  115386
11 2021-08-29   78716
12 2021-09-05   81372
13 2021-09-12   73534
14 2021-09-19   89830
15 2021-09-26  126591
16 2021-10-03  137383
17 2021-10-10  124727
18 2021-10-17   90498
19 2021-10-24  104592
20 2021-10-31   79212
21 2021-11-07   73479
22 2021-11-14   78398
23 2021-11-21   13104

In [248]:
stressLevelDaily = read_data("StressLevel/StressLevel-daily.csv", parse_dates=True)
stressLevelDaily

          Date  Stress Level
0   2021-06-12            47
1   2021-06-13            32
2   2021-06-14            30
3   2021-06-15            29
4   2021-06-16            28
..         ...           ...
159 2021-11-18            28
160 2021-11-19            30
161 2021-11-20            27
162 2021-11-21            29
163 2021-11-22            25

[164 rows x 2 columns]

In [249]:
stressLevelWeekly = read_data("StressLevel/StressLevel-weekly.csv")
stressLevelWeekly['Week'] = stressLevelWeekly['Week'].apply(translate_datetime)
stressLevelWeekly

         Week  Stress Level
0  2021-06-06            47
1  2021-06-13            28
2  2021-06-20            26
3  2021-06-27            25
4  2021-07-04            20
5  2021-07-11            26
6  2021-07-18            23
7  2021-07-25            26
8  2021-08-01            23
9  2021-08-08            22
10 2021-08-15            27
11 2021-08-22            28
12 2021-08-29            27
13 2021-09-05            25
14 2021-09-12            33
15 2021-09-19            29
16 2021-09-26            26
17 2021-10-03            29
18 2021-10-10            38
19 2021-10-17            31
20 2021-10-24            24
21 2021-10-31            34
22 2021-11-07            25
23 2021-11-14            32
24 2021-11-21            27

In [250]:
caloriesBurnedDaily = read_data("TotalCalories/TotalCalories-daily.csv", parse_dates=True)
caloriesBurnedDaily

          Date  Calories
0   2021-06-12      3685
1   2021-06-13      3838
2   2021-06-14      3267
3   2021-06-15      3408
4   2021-06-16      2826
..         ...       ...
159 2021-11-18      3991
160 2021-11-19      3899
161 2021-11-20      3289
162 2021-11-21      4500
163 2021-11-22      3341

[164 rows x 2 columns]

In [251]:
caloriesBurnedWeekly = read_data("TotalCalories/TotalCalories-weekly.csv")
caloriesBurnedWeekly['Week'] = caloriesBurnedWeekly['Week'].apply(translate_datetime)

restingCaloriesWeekly = caloriesBurnedWeekly[caloriesBurnedWeekly['Calorie Type'] == 'RMR']\
    .drop('Calorie Type', axis=1)\
    .rename({'Value' : 'Resting Calories'}, axis=1)
activeCaloriesWeekly = caloriesBurnedWeekly[caloriesBurnedWeekly['Calorie Type'] == 'Active']\
    .drop('Calorie Type', axis=1)\
    .rename({'Value' : 'Active Calories'}, axis=1)

caloriesBurnedWeekly = pd.merge(
    restingCaloriesWeekly,
    activeCaloriesWeekly,
    how='inner',
    on='Week'
)

caloriesBurnedWeekly['Calories'] = caloriesBurnedWeekly['Resting Calories'] + caloriesBurnedWeekly['Active Calories']
caloriesBurnedWeekly.drop(['Resting Calories', 'Active Calories'], axis=1, inplace=True)
caloriesBurnedWeekly

         Week  Calories
0  2021-06-06      3685
1  2021-06-13     23725
2  2021-06-20     25984
3  2021-06-27     26098
4  2021-07-04     23457
5  2021-07-11     26423
6  2021-07-18     29752
7  2021-07-25     26396
8  2021-08-01     26122
9  2021-08-08     25927
10 2021-08-15     28523
11 2021-08-22     30008
12 2021-08-29     27287
13 2021-09-05     26794
14 2021-09-12     25722
15 2021-09-19     25771
16 2021-09-26     26578
17 2021-10-03     27374
18 2021-10-10     28265
19 2021-10-17     24166
20 2021-10-24     25531
21 2021-10-31     23965
22 2021-11-07     22796
23 2021-11-14     24650
24 2021-11-21      7525

In [252]:
daily_metrics = [intensityMinutesDaily, stepsDaily, restingHeartRateDaily, caloriesBurnedDaily, stressLevelDaily, sleepTimeDaily]
weekly_metrics = [intensityMinutesWeekly, stepsWeekly, restingHeartRateWeekly, caloriesBurnedWeekly, stressLevelWeekly, sleepTimeWeekly]

In [253]:
daily = pd.concat([df.set_index('Date') for df in daily_metrics], axis=1, join='inner').reset_index()
daily

,Date,Intensity Minutes,Steps,BPM,Calories,Stress Level,Sleep Hrs
0,2021-06-14,161,21590,47,3267,30,8.2
1,2021-06-15,134,14759,48,3408,29,8.3
2,2021-06-16,52,10272,47,2826,28,7.6
3,2021-06-17,37,11713,46,2733,26,7.5
4,2021-06-18,288,8882,45,3803,30,7.8
...,...,...,...,...,...,...,...
149,2021-11-17,0,18255,45,2568,35,6.4
150,2021-11-18,196,10532,50,3991,28,7.6
151,2021-11-19,139,11221,47,3899,30,6.8
152,2021-11-20,150,10259,50,3289,27,7.2
153,2021-11-21,254,13104,48,4500,29,8.2

In [254]:
weekly = pd.concat([df.set_index('Week') for df in weekly_metrics], axis=1, join='inner').reset_index()
weekly = weekly.drop(weekly.shape[0] - 1)
weekly

,Week,Intensity Minutes,Steps,BPM,Calories,Stress Level,Sleep Hrs
0,2021-06-13,1062,104222,46,23725,28,7.3
1,2021-06-20,1391,81915,43,25984,26,8.0
2,2021-06-27,1185,87592,42,26098,25,7.6
3,2021-07-04,980,75470,40,23457,20,8.2
4,2021-07-11,923,95418,42,26423,26,7.7
5,2021-07-18,1504,97509,40,29752,23,7.8
6,2021-07-25,1079,81498,40,26396,26,7.6
7,2021-08-01,940,99351,40,26122,23,7.8
8,2021-08-08,1089,107402,39,25927,22,7.6
9,2021-08-15,1547,127505,41,28523,27,7.7
10,2021-08-22,1908,115386,43,30008,28,7.9
11,2021-08-29,1264,78716,43,27287,27,6.2
12,2021-09-05,1589,81372,44,26794,25,7.0
13,2021-09-12,948,73534,48,25722,33,7.2
14,2021-09-19,1158,89830,50,25771,29,7.7
15,2021-09-26,1358,126591,48,26578,26,7.4
16,2021-10-03,1326,137383,47,27374,29,6.2
17,2021-10-10,1377,124727,49,28265,38,7.4
18,2021-10-17,1205,90498,51,24166,31,7.3
19,2021-10-24,945,104592,48,25531,24,7.7
20,2021-10-31,926,79212,49,23965,34,7.5
21,2021-11-07,663,73479,47,22796,25,7.9
22,2021-11-14,994,78398,48,24650,32,7.1

In [255]:
# output data sets to CSV files
daily.to_csv("./data/cleaned/daily.csv", index=False)
weekly.to_csv("./data/cleaned/weekly.csv", index=False)